@import url(https://fonts.googleapis.com/css?family=Kanit:300|Exo:400,300,100,700);

body{
  margin: auto;
  font-family: 'Exo', sans-serif;
  padding: 0;
  font-size: 100%;
}

main{
  min-width: 320px;
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
}

.project-pic{
  width: 100%;
}

.project-info{
  width: 100%;
  margin: 0 auto;
}

a img{
  max-width: 100%;
  margin: 0 auto;
}

.image-link{
  display: block;
}

@media only screen and (min-width: 768px){

  .project-pic{
    width: 60%;
  }

  .project-info{
    width: 40%;
  }
/*
  .project-pic:nth-of-type(odd){
    float: left;
  }

  .project-info:nth-of-type(odd){
    float: left;
    text-align: left;
  }

  .project-pic:nth-of-type(even){
    float:right;
  }

  .project-info:nth-of-type(even){
    float: right;
    text-align: right;
  }*/

}






/*header{
  font-size: 1em;
  width: 100%;
  min-width: 320px;
  padding-top: 12px;
  position: static;
  top: 0;
  background-color: #FFF;
}

header img{
  position: relative;
  width: 80%;
  max-width:100%;
  margin: 0 10%;
}

main{
  width: 100%;
  margin: auto;
  padding: 0 10px;
}
#filter{
  margin: auto;
  text-align: center;
}
select {
  color: #5C5C5C;
  border: 0;
  font-size: 14px;
  text-align: center;
  margin: .2em auto;
}

.template{
  display: none;
}

a{
  color:#776752;
  text-decoration: none;
}

footer {
  padding-top: 1em;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 380px){
  header img{
    position: relative;
    width: 80%;
    max-width:100%;
    margin: auto;
}

.clearfix{
  clear: both;
}*/
