.project-info a{
  text-decoration: none;
  color: #776752;
}


time{
  display: inline-block;
  width: 100%;
  float: right;
  text-align: right;
}











/*MOBILE PROJECTS AND ABOUT STYLES
======================================*/

/*div[data-category]{
  text-align: justify;
  width: 100%;
}

div[data-category] img{
  max-width: 100%;
  margin-bottom: 20px;
}

time{
  float: right;
  text-align: right;
  margin: 10px 0 8px 0;
}

@media only screen and (min-width: 380px){

  div[data-category]:nth-of-type(even){
    text-align: left;
    float: right;
  }

  div[data-category]:nth-of-type(odd){
    text-align: right;
    float: left;
  }
*/














}

/*

}*/
