#about-me{
  max-width: 95%;
}
section>h1, section>h2{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

section>p{
  width: 100%;
  margin: auto;
  text-align: left;
  margin-bottom: 8px;
}

section>p, section>h1, section>h2{
  margin-left: 8px;
  margin-right: 8px;
}

.call-to-action{
  margin-top: 40px;
}

.call-to-action h2{
  margin-bottom: 32px;
}

.call-to-action p{
  text-align: center;
}

.bio{
  font-size: 18px;
}

button{
  margin-left: calc(50% - 100px);
  background-color: #776752;
  border-style: none;
  border-radius: 4px;
  font-size: 24px;
  width: 200px;
  height: 50px;
  color: white;
  margin-top: 40px;
  padding: 0;
}


@media only screen and (min-width: 768px){

  .bio{
    font-size: 1em;
  }
}












/*#about-me{
  margin: auto;
}

#about-me h1, #about-me h2{
  padding: 10px;
}

.bio p {
  text-indent: 32px;
}

.call-to-action{
  padding: 0;
  margin: auto;
  text-align: center;
}

button{
  position: relative;
  margin: 1em auto;
  background-color: #776752;
  border-style: none;
  border-radius: 4px;
  font-size: 1.5em;
  padding: 6px 20px;
  color: white;
}

@media only screen and (min-width: 380px){

















}
*/

/*#about-me p, #about-me h1, #about-me h2{
  padding-left: 60px;
  padding-right: 60px;
}*/
