@import url(https://fonts.googleapis.com/css?family=Kanit:300|Exo:400,300,100,700);

body{
  margin: auto;
  font-family: 'Exo', sans-serif;
  padding: 0;
  font-size: 100%;
}

header{
  font-size: 1em;
  width: 100%;
  min-width: 320px;
  padding-top: 12px;
  position: static;
  top: 0;
  background-color: #FFF;
}

header img{
  position: relative;
  width: 80%;
  max-width:100%;
  margin: 0 10%;
}

main{
  width: 100%;
  margin: auto;
  padding: 0 10px;
}
#filter{
  margin: auto;
  text-align: center;
}
select {
  color: #5C5C5C;
  border: 0;
  font-size: 14px;
  text-align: center;
  margin: .2em auto;
}

.template{
  display: none;
}

a{
  color:#776752;
  text-decoration: none;
}

p{
  margin: 0 auto 1em auto;
}

footer {
  position: absolute;
  bottom: 0;
  padding-top: 1em;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 380px){
  header img{
    position: relative;
    width: 80%;
    max-width:100%;
    margin: auto;
}
